Resources/views/checkpassword.wsdl.twig

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="{{checkpasswordservice}}/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  name="loginservice"
                  targetNamespace="{{checkpasswordservice}}/">
    <wsdl:types>
        <xsd:schema targetNamespace="{{checkpasswordservice}}/">
            <xsd:complexType name="CheckPasswordIn">
                <xsd:sequence>                    
                    <xsd:element name="CertificationAuthority" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="OrganizationalUnit" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="Authentifier" type="xsd:string" maxOccurs="1" minOccurs="0" />                    
                    <xsd:element name="Password" type="xsd:string" maxOccurs="1" minOccurs="0" />                    
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CheckPasswordOut">
                <xsd:sequence>
                    <xsd:element name="IsValid" type="xsd:boolean" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="CheckPasswordUserInfo" type="xsd:string" maxOccurs="1" minOccurs="0" />                    
                </xsd:sequence>
            </xsd:complexType>       
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkPasswordRequest">
        <wsdl:part name="CheckPasswordRequest" type="tns:CheckPasswordIn"/>
    </wsdl:message>
    <wsdl:message name="checkPasswordResponse">
        <wsdl:part name="CheckPasswordResponse" type="tns:CheckPasswordOut"/>
    </wsdl:message>
    <wsdl:portType name="loginservice">
        <wsdl:operation name="CheckPassword">
            <wsdl:input message="tns:checkPasswordRequest"></wsdl:input>
            <wsdl:output message="tns:checkPasswordResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="loginserviceSOAP"
                  type="tns:loginservice">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CheckPassword">
            <soap:operation soapAction="{{checkpasswordservice}}/CheckPassword" />
            <wsdl:input>
                <soap:body use="literal" namespace="{{checkpasswordservice}}/" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="{{checkpasswordservice}}/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="loginservice">
        <wsdl:port binding="tns:loginserviceSOAP" name="loginserviceSOAP">
            <soap:address location="{{checkpasswordservice}}"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
